<!DOCTYPE html>

<html>

<head>
  <%- include("layout/main-header") %> 
</head>

<body>
  <div id="preloader" style="z-index: 100; overflow: hidden; visibility: visible; position: absolute;height: 100vh;width: 100vw;display: flex;position: fixed; flex-direction: column; background: #111d2a;justify-content: center;align-items: center;">
    <!--create a preloder screen-->
    <img src="/images/loader.gif" height="100px" width="100px" alt="" srcset="">
    <h3 style="margin: 0; font-size: 1.3rem;">Creating Pokemon World</h3>
  </div>
  <div id="main-screen" style="visibility: hidden;">
    <div class="offline" style="display: none; background: orange;padding: 2px;width: 100%;text-align: center;position: fixed;top: 0; font-size: 0.7rem"></div>
    <div class="topbar">
        <div class="currently_active"></div>
        <div class="menu"><i class="fa-solid fa-ellipsis-vertical"></i></div>
    </div>
    <div class="menuwrapper">
      <div class="chat__sidebar">
        <h3>#<span class="keyname1 key"></span> <i class="fa-regular fa-clone"></i></h3>
        <div class="users"></div>
        <div class="leave back"><div class="container">Leave <i class="fa-solid fa-arrow-right-from-bracket"></i></div></div>
      </div>
    </div>
    <div class="chat">
      <div class="chat__main">
        <ol id="messages" class="chat__messages">
          <div class="intro">
            <img src="/images/msg.png" width="100px" height="100px">
            <h2>Start typing messages!</h2>
          </div>
        </ol>
        <div class="toast-popup" style="display: none;">
          <div class="toast-popup-replying-to">
            <div class="toast-popup-name"></div>
            <div class="toast-popup-message"></div>
          </div>
          <div class="toast-popup-close"><i class="fa-solid fa-xmark"></i></div>
        </div>
        <div class="popup-message" style="display: none;"></div>
        <div class="chat__footer">
          <ul id="typingindicator"></ul>
          <form id="message-form">
            <!--input name="message" type="text" placeholder="Message" autofocus autocomplete="off" /-->
            <div class="location" id="send-location"><i class="fa-solid fa-location-crosshairs"></i></div>
            <div class="upload_image">
              <label for="photo"><i class="fa-solid fa-image"></i></label>
              <input type="file" name="photo" id="photo" accept="image/png, image/jpg, image/jpeg, image/gif">
            </div>
            <textarea name="message" id="textbox" placeholder="Type message..."></textarea>
            <button class="send"><i class="fa-solid fa-paper-plane"></i></button>
          </form>
        </div>
      </div>
      <div class="newmessagepopup" style="display: none;">
        <img src="" alt=""><div class="msg"></div>
      </div>
      <div class="previewimage" style="display: none;">
        <div class="previewimage__close"><i class="fa-solid fa-xmark"></i></div>
        <div class="previewimage__image"></div>
        <div class="sendimage"><i class="fa-solid fa-paper-plane"></i></div>
      </div>

      <div class="lightbox" style="display: none;">
        <div class="tool">
          <div class="lightbox__save"><i class="fa-solid fa-download"></i></div>
          <div class="lightbox__close"><i class="fa-solid fa-xmark"></i></div>
        </div>
        <div class="lightbox__image"></div>
      </div>

      <div class="click-option" style="display: none;">
        <ul>
          <li class="reply-action"><i class="fa-solid fa-reply"></i> <span class="op reply"> Reply </span> </li>
          <li class="store-action" style="display: none;"><i class="fa-solid fa-download"></i> <span class="op download"> Download </span> </li>
          <li class="copy-action" style="display: none;"><i class="fa-regular fa-clone"></i> <span class="op clone"> Copy </span> </li>
          <li class="delete-action"><i class="fa-solid fa-trash"></i> <span class="op trash"> Delete </span> </li>
          <li class="close-action"><i class="fa-solid fa-xmark"></i></li>
        </ul>
      </div>

      <div class="reactionContainer" style="display: none;">
        <div class="love">❤️</div>
        <div class="haha">😂</div>
        <div class="sad">😢</div>
        <div class="wow">😮</div>
        <div class="angry">😠</div>
        <div class="like">👍🏻</div>
        <div class="dislike">👎🏻</div>
      </div>

      <div class="reactorContainer" style="display: none;">Reactions <ul></ul></div>
    
      <template id="message-template" type="text/template">
        <li class="message _message" id="{{id}}" data-uid="{{uid}}" data-reply="{{isReply}}">
          <div class="avatar"><img id="avatar" src="{{attrVal}}" height="40px" width="40px" alt="" srcset=""></div>
          <div class="message__body _body">
            <div class="message__title title" {{attr}}="{{messageTitleStyle}}"><h3>{{{repIcon}}}{{from}}</h3></div>
            <div class="reply-message replyMessage" {{attr}}="{{replyMessageStyle}}" data-repid="{{repId}}">{{reply}}</div>
            <div class="main-message">
              <p class="textMessage object" {{attr}}="{{radius}}" data-sent="true">{{{text}}}</p>
              <div class="reactor" style="display: none;"><ul></ul></div>
              <ul class="reactions"></ul>
              <span class='time'>{{createdAt}}</span>
            </div>
          </div>
          
        </li>
      </template>
  
      <template id="my-message-template" type="text/template">
        <li class="my__message _message" id="{{id}}" data-uid="{{uid}}" data-reply="{{isReply}}">
          <!--div class="avatar"><img id="avatar" {{attr}}="{{attrVal}}" height="40px" width="40px" alt="" srcset=""></-div-->
          <div class="my__message__body _body">
            <div class="my__message__title title" {{attr}}="{{messageTitleStyle}}"><h3>{{{repIcon}}}{{from}}</h3></div>
            <div class="my-reply-message replyMessage" {{attr}}="{{replyMessageStyle}}" data-repid="{{repId}}">{{reply}}</div>
            <div class="main-message">
              <span class='time'>{{createdAt}}</span>
              <p class="textMessage object" {{attr}}="{{radius}}">{{{text}}}</p>
              <div class="reactor" style="display: none;"><ul></ul></div>
              <ul class="reactions"></ul>
            </div>
          </div>
          <i class="fa-regular fa-paper-plane sent"></i>
          
        </li>
      </template>
  
      <template id="server-message-template" type="text/template">
        <li class="server__message">
          <div class="server__message__body">
            <p>{{text}}</p>
          </div>
        </li>
      </template>
    
      <template id="location-message-template" type="text/template">
        <li class="location__message">
          <div class="location__message__title">
            <a id="retlocflex" href="{{url}}" target="_blank"><i class="fa-solid fa-location-dot"></i>{{from}}'s location</a>
          </div>
        </li>
      </template>

      <template id="image-message-template" type="text/template">
        <li class="image _message" id="{{id}}" data-uid="{{uid}}" data-reply="{{isReply}}">
          <div class="avatar"><img id="avatar" src="{{attrVal}}" height="40px" width="40px" alt="" srcset=""></div>
          <div class="image__body _body">
            <% if (maxuser == 2) { %>
              <div class="image__title title" style="display: none;"><h3>{{from}}</h3></div>
            <% } else { %>
              <div class="image__title title" {{attr}}="{{messageTitleStyle}}"><h3>{{from}}</h3></div>
            <% } %> 
            <div class="main-image">
              <div class="imageMessage object" {{attr}}="{{radius}}" data-sent="true">{{{image}}}</div>
              <div class="reactor" style="display: none;"><ul></ul></div>
              <ul class="reactions"></ul>
              <span class='time'>{{createdAt}}</span>
            </div>
          </div>
        </li>
      </template>

      <template id="my-image-message-template" type="text/template">
        <li class="my__image _message" id="{{id}}" data-uid="{{uid}}" data-reply="{{isReply}}">
          <div class="image__body _body">
            <div class="image__title title" style="display: none;"><h3>{{from}}</h3></div>
            <div class="main-image">
              <span class='time'>{{createdAt}}</span>
              <div class="imageMessage object" {{attr}}="{{radius}}">{{{image}}}</div>
              <div class="reactor" style="display: none;"><ul></ul></div>
              <ul class="reactions"></ul>
              <i class="fa-regular fa-paper-plane sent"></i>
            </div>
          </div>
        </li>
      </template>
    </div>
  </div>
  <div id="wait">
    <div class="text">Logging out <i class="fa-solid fa-circle-notch fa-spin"></i></div>
  </div>
</body>
</html>
