*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: var(--foreground-dark);
    user-select: none;
}

:root{
    --red: #cd4040;
    --primary-dark: #111d2a;
    --foreground-dark: #e1eeff;
    --secondary-dark: #2585fd;
    --focus-dark: #192838bd;
    --app-height: 100vh;
}

//disable user select
*::-webkit-user-select {
    -webkit-user-select: none;
}


.chatBox{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 100%;
    height: var(--app-height);
    background: var(--primary-dark);
    .navbar{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 5px 15px;
        position: absolute;
        top: 0;
        width: 100%;
        background: lightsalmon;
        z-index: 15;
        color: var(--foreground-dark);
        i{
            color: inherit;
        }
    }
    .welcomeText{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding: 50px;
        padding-top: 300px;
        h1{
            font-size: 1.5rem;
        }
        P{
            font-size: 0.7rem;
            padding: 10px 20px;
        }
    }
}

//remove all scrollbars
::-webkit-scrollbar {
    display: none;
}

.chatInput{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 5px;
    padding: 0 10px;
}

#send-location{
    &:hover{
        cursor: pointer;
    }
}

.upload_image{
    position: relative;
}

input[type=file] {
    display: none;
}

#send{
    border: none;
    background: none;
}

#previewImage{
    position: fixed;
    bottom: 0;
    left: 0;
    height: 50%;
    width: 100%;
    background: teal;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    z-index: 20;
    visibility: hidden;
    opacity: 0;
    transition: 200ms ease-in-out;
    &.active{
        visibility: visible;
        opacity: 1;
    }
    #selectedImage{
        img{
            max-height: 45vh;
            max-width: 80vw;
        }
    }
    
    .option{
        position: absolute;
        top: 0;
        right: 0;
        padding: 10px;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }
}

i[class^=fa-]{
    font-size: 1.2rem;
    color: var(--secondary-dark);
}

#typingIndicator{
    padding-left: 10px;
    font-size: 0.8rem;
    height: 20px;
}


#textbox{
    resize: none;
    padding: 10px;
    width: 100%;
    max-height: 100px;
    //remove sidebars
    border: none;
    outline: none;
    border-radius: 25px;
    background: var(--focus-dark);
}

.footer{
    padding: 10px 0;
}

#popupMessage{
    position: fixed;
    visibility: hidden;
    bottom: 8vh;
    left: 50%;
    transform: translateX(-50%);
    background: var(--secondary-dark);
    border-radius: 25px;
    padding: 10px;
    transition: 200ms ease-in-out;
    z-index: 20;
    backdrop-filter: drop-shadow(0px 0px 10px rgb(0, 0, 0));
    &.active{
        visibility: visible;
        bottom: 10vh;
    }
}

#replyToast{
    display: none;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    margin: 0 10px;
    background: var(--focus-dark);
    border-radius: 10px;
    position: relative;
    filter: drop-shadow(2px 5px 5px rgb(6, 20, 44));
    visibility: hidden;
    opacity: 0;
    transition: opacity 200ms ease-in-out;
    &.active{
        display: flex;
        visibility: visible;
        opacity: 1;
    }
    .title, .title *{
        color: var(--secondary-dark);
    }
    .replyText{
        font-size: 0.7rem;
    }
    .close i{
        color: var(--red) !important;
        transition: 300ms ease-in-out;
        &:hover{
            cursor: pointer;
            transform: rotate(360deg) scale(1.2);
        }
    }
}

#lightbox{
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: darkslategray;
    z-index: 20;
    visibility: hidden;
    opacity: 0;
    transition: opacity 100ms ease-in-out;
    &.active{
        visibility: visible;
        opacity: 1;
    }
    .tool{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 10px;
        & > div{
            padding: 10px;
            border-radius: 25px;
            width: 40px;
            height: 40px;
            text-align: center;
            background: var(--focus-dark);
            &:hover{
                cursor: pointer;
                background: #2b3d50bd;
            }
        }
    }
    #lightbox__image{
        max-width: 90%;
        max-height: 90%;
    }
}


#optionsContainer{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    opacity: 0;
    transition: 100ms ease-in-out;
    z-index: 15;
    &.active{
        visibility: visible;
        opacity: 1;
    }
}

.options{
    position: fixed;
    bottom: 10vh;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 40px;
    align-items: center;
    padding: 10px;
    border-radius: 10px;
    background: var(--focus-dark);
    backdrop-filter: drop-shadow(0px 0px 10px rgb(0, 0, 0));
    transition: 200ms ease-in-out;
    & > *{
        transition: 100ms ease-in;
    }
    & > :hover{
        cursor: pointer;
        &{
            transform: scale(1.1);
        }
    }
    &:is(#reactOptions){
        bottom: 20vh;
        gap: 10px;
        font-size: 1.3rem;
    }
    &:is(#normalOptions){
        & > div{
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            gap: 3px;
            span{
                font-size: 0.6rem;
            }
            &:is(.closeOption, .deleteOption) > *{
                color: var(--red) !important;
            }
        }
    }
}

.reactorContainer{
    display: flex;
    flex-direction: column;
    position: fixed;
    bottom: 80px;
    left: 50%;
    transform: translateX(-50%);
    background: var(--focus);
    padding: 20px;
    width: 300px;
    height: 220px;
    overflow-y: scroll;
    border-radius: 10px;
    align-items: flex-start;
    justify-content: flex-start;
    z-index: 10;
    backdrop-filter: blur(2px);
    filter: drop-shadow(2px 4px 6px black);
    ul{
      display: flex;
      flex-direction: column;
      list-style-type: none;
    }
  }