<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script async src="/libs/fontawesome.js"></script>
    <script defer src="/socket.io/socket.io.js"></script>
    <script defer src="/scripts/common.js"></script>
    <script defer src="/scripts/create.js"></script>
    <script defer src="/scripts/login.js"></script>
    <link rel="stylesheet" href="/styles/entry.css">
    <title>Login</title>
</head>
<body>
    <div class="container">
        <form class="form" method="post" action="/chat" onsubmit="return check();">
            <div class="subform" id="form1">
                <div class="title">
                    <div>Create chat</div>
                    <img src="/images/pokeball.png" height="40px" width="40px" alt="logo">
                </div>
                <div class="form-field">
                    <label for="key" id="label">Tap to copy <i class="fa-regular fa-clone"></i></label>
                    <div id="keyErr" class="errLog"></div>
                    <input type="text" name="key" id="key" placeholder="xxx-xxx-xxx-xxx" readonly value="<%=key_%>">
                </div>
                <div class="form-field">
                    <button id="next" type="button">Next</button>
                </div>
                <div class="redirect">
                    <fieldset>
                        <legend>Or</legend>
                        <a id="redirect" href="/join">Join chat</a>
                    </fieldset>
                </div>
            </div>
            <div class="subform" id="form2">
                <div class="form-field">
                    <label for="username">Choose username <i class="fa-solid fa-id-card-clip"></i></label>
                    <div id="usernameErr" class="errLog"></div>
                    <input type="text" name="username" id="username" placeholder="Username">
                </div>
                <div class="form-field avatar-field">
                    <label for="avatar">Choose avatar <i class="fa-solid fa-user-astronaut"></i></label>
                    <div id="avatarErr" class="errLog"></div>
                    <div class="avatar-container">
                        <%- include ('layout/avatars.ejs') %>
                    </div>
                </div>
                <div class="form-field range">
                    <label for="max-user">Select max user (<span id="rangeValue">2</span>)</label>
                    <input type="range" id="maxuser" name="maxuser" max="15" min="2" value="2">
                </div>
                <div class="form-field">
                    <button id="enter" type="submit">Enter Chat</button>
                </div>
            </div>
        </>
    </div>
    <%- include ('layout/entryfooter.ejs') %> 
</body>
</html>