<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('layout/entryheader.ejs') %> 
    <script defer src="/scripts/create.min.js?v=6"></script>
</head>
<body>
    <div class="container">
        <form class="form" method="post" action="/chat" onsubmit="return check();">
            <div class="subform" id="form1">
                <div class="title">
                    <div>Create chat</div>
                    <img src="/images/pokeball.png" height="40px" width="40px" alt="logo">
                </div>
                <div class="form-field clickable">
                    <label for="key" id="label">Tap to copy <i id="lb__icon" class="fa-regular fa-clone"></i> <span class="remainingTime">02:00</span> </label>
                    <div id="keyErr" class="errLog"></div>
                    <input autocomplete="off" type="text" name="key" class="copy noSelect" id="key" placeholder="xxx-xxx-xxx-xxx" readonly value="<%=key_%>">
                </div>
                <div class="form-field clickable">
                    <button id="next" type="button">Next</button>
                </div>
                <div class="redirect">
                    <fieldset>
                        <legend>Or</legend>
                        <a id="redirect" href="/join" class="noSelect clickable" onclick="return wait();">Join chat</a>
                    </fieldset>
                </div>
            </div>
            <div class="subform" id="form2">
                <div class="form-field">
                    <label for="username">Choose username <i class="fa-solid fa-id-card-clip"></i> <span class="remainingTime">02:00</span></label>
                    <div id="usernameErr" class="errLog"></div>
                    <input autocomplete="off" type="text" name="username" id="username" placeholder="Username">
                </div>
                <div class="form-field avatar-field">
                    <label for="avatar">Choose avatar <i class="fa-solid fa-user-astronaut"></i></label>
                    <div id="avatarErr" class="errLog"></div>
                    <div class="avatar-container">
                        <%- include ('layout/avatars.ejs') %>
                    </div>
                </div>
                <div class="form-field range">
                    <label for="max-user">Select max user (<span id="rangeValue">2</span>)</label>
                    <input type="range" class="clickable" id="maxuser" name="maxuser" max="15" min="2" value="2">
                </div>
                <div class="form-field">
                    <button id="enter" class="clickable" type="submit">Enter Chat</button>
                </div>
            </div>
        </>
    </div>
    <%- include ('layout/entryfooter.ejs') %> 
</body>
</html>