<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script async src="/libs/fontawesome.js"></script>
    <script defer src="/scripts/common.js"></script>
    <script defer src="/scripts/login.js"></script>
    <link rel="stylesheet" href="/styles/entry.css">
    <title>Login</title>
</head>
<body>
    <div class="container">
        <div class="form">
            <div class="subform" id="form1">
                <div class="title">
                    <div>Join a chat</div>
                    <img src="/images/pokeball.png" height="40px" width="40px" alt="logo">
                </div>
                <div class="form-field">
                    <label for="key">Enter key <i class="fa-solid fa-key"></i></label>
                    <div id="keyErr" class="errLog"></div>
                    <input type="text" name="key" id="key" placeholder="xxx-xxx-xxx-xxx">
                </div>
                <div class="form-field">
                    <button id="next">Next</button>
                </div>
                <div class="redirect">
                    <fieldset>
                        <legend>Or</legend>
                        <a id="redirect" href="/create">Create chat</a>
                    </fieldset>
                </div>
            </div>
            <div class="subform" id="form-2">
                <div class="form-field">
                    <label for="username">Choose username <i class="fa-solid fa-id-card-clip"></i></label>
                    <div id="usernameErr" class="errLog"></div>
                    <input type="text" name="username" id="username" placeholder="Username">
                </div>
                <div class="form-field avatar-field">
                    <label for="avatar">Choose avatar <i class="fa-solid fa-user-astronaut"></i></label>
                    <div id="avatarErr" class="errLog"></div>
                    <div class="avatar-container">
                        <%- include ('layout/avatars.ejs') %> 
                    </div>
                </div>
                <div class="form-field">
                    <button id="enter">Enter Chat</button>
                </div>
            </div>
        </div>
    </div>
    <%- include ('layout/entryfooter.ejs') %>
</body>
</html>