*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    gap: 10px;
}

.file-picker{
    font-size: 3rem;
    color: #6aa4db;
}

.fa-microphone{
    &:hover{
        cursor: pointer;
    }
}


#file-picker{
    display: none;
}


.audio-player{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 300px;
    gap: 5px;
    background: #6aa4db;
    padding: 10px 20px;
    border-radius: 25px;
    color: #ffffff;
    .controls{
        &:hover{
            cursor: pointer;
        }
        border-radius: 50%;
        //width: 20px;
        display: flex;
        flex-direction: row;
        gap: 5px;
        //background-color: aqua;
    }
    .progress-bar{
        width: 100%;
        height: 5px;
        background: #ffffff17;
        border-radius: 15px;
        .progress-bar-fill{
            height: 100%;
            width: 0%;
            background: #ffffff;
            border-radius: 15px;
        }
        &:hover{
            cursor: pointer;
        }
    }
}