<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./../../styles/message.css">
    <title>Test</title>
</head>
<body>
    
        <div id="chat">
            <div id="chat-header">
                <div id="chat-header-title">
                    <h1>Chat</h1>
                </div>
                <div id="chat-header-options">
                    <button id="chat-header-options-button">Options</button>
                </div>
            </div>
            <div id="chat-body">
                <div id="chat-body-messages">
<!-- Message template -->
    <li class="message msg-item start end self" id="text" data-uid="{{uid}}" data-type="{{type}}"> <!-- noreply notitle delevered start end self react -->
        <div class="seenBy"></div>
        <div class="messageContainer">
            <div class="replyIcon">
                <i class="fa-solid fa-reply"></i>
            </div>
            <div class="sent"><i class="fa-regular fa-paper-plane"></i></div>
            <div class="avatar"><img src="{{avatarSrc}}" width='30px' height='30px' alt='avatar'/></div>
            <div class="messageBody">
                <div class="messageTitle">{{{title}}}</div>
                <div class="messageReply" data-repid="{{repId}}" data-replyfor="{{replyFor}}" data-deleted>{{{replyMsg}}}</div>
                <div class="messageMain">
                    {{{message}}}
                    <div class="messageTime" data-timestamp="{{timeStamp}}">{{time}}</div>
                </div>
                <div class="reactsOfMessage">
                    <div class="reactsContainer"></div>
                    <div class="reactsCount"></div>
                </div>
            </div>
            <div class="reactedUsers" style="display: none;"></div>
        </div>
    </li>

    <li class="message msg-item start end self" id="file" data-uid="{{uid}}" data-type="{{type}}">
        <div class="seenBy"></div>
        <div class="messageContainer">
            <div class="replyIcon">
                <i class="fa-solid fa-reply"></i>
            </div>
            <div class="sent"><i class="fa-regular fa-paper-plane"></i></div>
            <div class="avatar"><img src="{{avatarSrc}}" width='30px' height='30px' alt='avatar'/></div>
            <div class="messageBody">
                <div class="messageTitle">{{{title}}}</div>
                <div class="messageReply" data-repid="{{repId}}" data-replyfor="{{replyFor}}" data-deleted>{{{replyMsg}}}</div>
                <div class="messageMain">
                    <div class="file msg" data-src="{{source}}" data-ext="{{ext}}">
                        <div class="fileIcon">
                            <i class="fa-regular fa-file-lines"></i>
                        </div>
                        <div class="fileInfo">
                            <div class="fileName">{{fileName}}</div>
                            <div class="filemeta">
                                <div class="progress"></div>
                                <div class="fileSize">{{fileSize}}</div>
                            </div>
                        </div>
                    </div>
                    <div class="messageTime" data-timestamp="{{timeStamp}}">{{time}}</div>
                </div>
                <div class="reactsOfMessage">
                    <div class="reactsContainer"></div>
                    <div class="reactsCount"></div>
                </div>
            </div>
            <div class="reactedUsers" style="display: none;"></div>
        </div>
    </li>
                </div>
                <div id="chat-body-input">
                    <input type="text" id="chat-body-input-text" placeholder="Type a message...">
                    <button id="chat-body-input-button">Send</button>
                </div>
            </div>
        </div>
    
        <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js"></script>
        <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
        <script>
            var socket = io('http://localhost:3000');
            var username = prompt("Please enter your username");
            socket.emit('new-user', username);
    
            socket.on('chat-message', data => {
                console.log(data);
            });
    
            socket.on('user-connected', username => {
                console.log(username + " connected");
            });
    
            socket.on('user-disconnected', username => {
                console.log(username + " disconnected");
            });
        </script>

        <style>
            body{
                background: teal;
            }
        </style>
</body>
</html>