<div class="close_area attachmentChooser" id="attachmentCloseArea">
    <div class="attachmentContainer">
        <!-- File Choose -->
        <div class="upload_file clickable playable attachmentButton">
            <label for="fileChooser" class="file-input-label" title="Choose files [Alt+f]"><i class="fa-regular fa-file-lines fa-shake"></i></label>
            <input type="file" multiple name="file" id="fileChooser" >
            <div class="text">File</div>
        </div>
        <!-- Image Choose -->
        <div class="upload_image clickable playable attachmentButton">
            <label for="photoChooser" title="Choose Photos [Alt+p]"><i class="fa-regular fa-image fa-shake"></i></label>
            <input type="file" multiple name="photo" id="photoChooser"  accept="image/png, image/jpg, image/jpeg, image/gif">
            <div class="text">Image</div>
        </div>

        <!-- Audio Choose -->
        <div class="upload_audio clickable playable attachmentButton">
            <label for="audioChooser" title="Choose Music [Alt+m]"><i class="fa-solid fa-music fa-shake"></i></label>
            <input type="file" multiple name="audio"  id="audioChooser" accept="audio/*">
            <div class="text">Audio</div>
        </div>

        <!-- Location input -->
        <div class="location clickable playable attachmentButton" id="send-location">
            <i class="fa-solid fa-location-crosshairs fa-shake"></i>
            <div class="text">Location</div>
        </div>
        <!-- Poll -->
        <!--div class="poll clickable playable" id="createPollBtn">
            <i class="fa-solid fa-square-poll-horizontal"></i>
            <div class="text">Poll</div>
        </!div-->
    </div>
</div>