<div class="chatInput">
    <div class="clickable playable inputBtn" id="stickerBtn" title="Choose stickers [Alt+i]"><i class="fa-solid fa-note-sticky"></i></div>
    <!-- Text input -->
    <div class="attachments clickable playable inputBtn" id="attachment" title="Send attactments [Alt+a]"><i class="fa-solid fa-paperclip"></i></div>
    <div class="inputField">
        <div id="textbox" contenteditable="true" class="select" data-placeholder="Message..."></div>
        <!-- Microphone -->
        <div class="voiceRecorder" id="recorderOverlay" data-recordingstate="false">
            <div class="recordBtn btn" id="recordVoiceButton" data-playstate="" title="Record voice [Alt+r]">
                <i class="fa-solid fa-microphone" id="micIcon"></i>
            </div>
            <div class="recording">
                <span class="recordingText"><i class="fa-solid fa-circle recordIcon"></i></span>
                <span id="recordingTime" class="recordingTime">00:00</span>
            </div>
            <div class="cancelBtn btn clickable playable" id="cancelVoiceRecordButton">
                <i class="fa-solid fa-xmark"></i>
            </div>
            <div id="audiovisualizer"></div>
        </div>
    </div>
      
    <!-- Send Button-->
    <button id="send" class=" inputBtn" title="Ctrl+Enter"><i class="fa-solid fa-paper-plane"></i></button>
</div>