<div class="navbar">
    <div id="currentlyActive"><i class="fa-solid fa-user"></i> Active: <div id="count"></div></div>
    <div class="optionPanel">                
        <!--div class="call-btn clickable">
            <i class="fa-solid fa-phone"></i>
        </!--div-->
        <div id="more" class="clickable" title="Active users and Settings">
            <i class="fa-solid fa-ellipsis-vertical"></i>
        </div>
    </div>
</div>