<div class="navbar">
    <div id="currentlyActive"><i class="fa-solid fa-user"></i> Active: <div id="count"></div></div>
    <div class="optionPanel">                
        <!--div class="call-btn clickable playable">
            <i class="fa-solid fa-phone"></i>
        </!--div-->
        <!--div id="startCallBtn" class="clickable hoverBtn playable" title="Start audio call"><i class="fa-solid fa-phone"></i></div-->
        <div id="more" class="clickable hoverBtn playable" title="Active users and Settings [Alt+o]">
            <i class="fa-solid fa-ellipsis-vertical"></i>
        </div>
    </div>
</div>