<!--The side menu-->
<div id="sidebarWrapper">
    <div id="sidebar">
        <div class="topbar">
            <div id="keyname" class="clickable playable keyCopy"><i class="fa-regular fa-clone"></i><span><%=myKey_%></span></div>
        </div>
        <ul id="userlist"></ul>
        <div class="footer_options">
            <i class="fa-solid fa-gear settings hoverBtn clickable playable" title="Quick Settings [Alt+s]"></i>
            <div id="logoutButton" class="button clickable playable"><i class="fa-solid fa-arrow-right-from-bracket"></i><span>Leave</span></div>
        </div>
    </div>
    <div class="close_area" id="closeSideBar"></div>
</div>