<div id="typingIndicator">
    <div class="text"></div>
    <div class="bubble">
        <div class="dot bouncing"></div>
        <div class="dot bouncing"></div>
        <div class="dot bouncing"></div>
    </div>
</div>