<div class="footer">
    <div class="source-code"><a href="https://github.com/itsfuad/poketab-messenger/" target="_blank">Source Code <i class="fa-solid fa-code-branch"></i></a></div>
    <p>© Copyright Fuad Hasan 2023. All rights reserved. <%=version%> </p>
</div>
<div class="offline"></div>
<div id="wait">
    <div class="text">Please Wait <i class="fa-solid fa-circle-notch fa-spin"></i></div>
</div>
