<fieldset class="howtouse line"> 
    <legend class="h1">How to use</legend>
    <ul>
        <li>Conversation will be deleted from your device after you disconnect/exit.</li>
        <li>You cannot see previous messages after re joining.</li>
        <li>You can vibrate other users phone by tapping ther name from the active online users list.</li>
        <li>On Pc, use can use Ctrl+Enter to send message.</li>
        <li>Messages will be deleted for everyone on the current chat by clicking trash icon.</li>
        <li>From 2 to 15 people can join on the same chat. You can limit the maximum peoples who can join.</li>
        <li>Session key will be expired immediately if there's no one on the chat.</li>
    </ul>
</fieldset>
<div class="footer">
    <div class="source-code"><a href="https://github.com/itsfuad/poketab-messanger/" target="_blank">Source Code <i class="fa-solid fa-code-branch"></i></a></div>
    <p>© Copyright Fuad Hasan 2022. All rights reserved. <%=version%> </p>
</div>
<div class="offline"></div>
<div id="wait">
    <div class="text">Please Wait <i class="fa-solid fa-circle-notch fa-spin"></i></div>
</div>
