*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: var(--foreground-dark);
    scrollbar-width: none;
}

html{
    font-size: 16px;
}

:root{
    --red: indianred;
    --primary-dark: #111d2a;
    --foreground-dark: #e1eeff;
    --secondary-dark: hsl(213, 98%, 57%);
    --focus-dark: #19283880;
    --option-color: #213142;
    --app-height: 100vh;
    --pattern: url('/images/backgrounds/blue_w.webp');
}

*:not(input, textarea){
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.noSelect {
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.select {
    -webkit-tap-highlight-color: initial;
    -webkit-touch-callout: initial;
    -webkit-user-select: initial;
    -khtml-user-select: initial;
    -moz-user-select: initial;
    -ms-user-select: initial;
    user-select: initial;
}

.noSelect:focus {
    outline: none !important;
}

body{
    overscroll-behavior-y: contain;
}

.popup-message{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 100px;
    left: 50%;
    background: #000000bb;
    padding: 10px;
    border-radius: 15px;
    font-size: .6rem;
    transform: translateX(-50%);
    z-index: 100;
    backdrop-filter: blur(2px);
    z-index: 1000;
    visibility: hidden;
    opacity: 0;
    transition: 100ms ease-in-out;
    &.active{
        visibility: visible;
        opacity: 1;
    }
}

#sidebar_wrapper{
    width: 100%;
    top: 0;
    height: 100%;
    position: fixed;
    display: grid;
    grid-template-columns: 70% 1fr;
    transition: 100ms ease-in-out;
    left: -100%;
    z-index: 90;
    &.active{
        left: 0;
    }
}

.close_area{
    //background: rgba(255, 0, 0, 0.5);
}

.clickable{
    cursor: pointer;
}

.stickersPanel{
    position: fixed;
    bottom: 0px;
    left: 50%;
    height: 42vh;
    min-height: 300px;
    width: 95%;
    display: none;
    visibility: hidden;
    opacity: 0;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    border-radius: 12px;
    overflow: hidden;
    background: var(--msg-get-reply);
    transition: 100ms ease-in-out;
    transform: translateX(-50%) scale(0.5);
    transform-origin: bottom;
    scrollbar-width: none;
    z-index: 20;

    &.active{
        visibility: visible;
        opacity: 1;
        bottom: 70px;
        transform: translateX(-50%) scale(1);
    }
    
    img{
        -webkit-user-drag: none;
    }
}
.stickerGroups{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    border-radius: 10px 10px 0 0;
    background: var(--focus-dark);
    i{
        font-size: 1.2rem;
        color: #f00;
        padding: 10px;
    }
    .names{
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        padding: 3px 10px;
        align-items: center;
        gap: 10px;
    
        & > img{
            height: 30px;
            width: 30px;
            border-radius: 10px;
            background: transparent;
        }
        & > img[data-selected="true"]{
            background: var(--secondary-dark);
        }
    }
}

.stickerBtn{
    padding: 0 0 2px 5px;
    display: grid;
    place-items: center;
}

.stickers{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    overflow: scroll;
    width: 100%;
    height: 100%;
    color: var(--secondary-dark);
    & > img{
        width: clamp(70px,20vw,90px);
        border-radius: 24px;
        margin: 5px;
        background: #ffffff17;
    }
}

.messageMain img:is(.sticker){
    background: #ffffff17 !important;
}

img:is(.sticker){
    width: 100px;
    height: 100px;
}

#attmain{
    display: none;
}

#sidebar{
    padding: 10px;
    border-radius: 0 5px 5px 0;
    background: var(--msg-get-reply);
    backdrop-filter: blur(10px);
    z-index: 90;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    #keyname{
        padding-bottom: 20px;
        font-weight: 300;
    }
    #keyname, #keyname *{
        color: var(--secondary-dark);
        padding: 5px;
        cursor: pointer;
    }
    #userlist{
        overflow: scroll;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        height: 100%;
        width: 100%;
        padding: 10px;
        list-style: none;
        gap: 5px;
        border-radius: 10px;
        scrollbar-width: none;
        .user{
            display: flex;
            flex-direction: row;
            align-items: flex-end;
            justify-content: center;
            gap: 5px;
            font-weight: 900;
        }
    }
    .footer_options{
        display: flex;
        flex-direction: row;
        width: 100%;
        align-items: center;
        justify-content: space-between;
    }
    #logout{
        border-radius: 24px;
        font-weight: 900;
        cursor: pointer;
        display: flex;
        align-items: center;
        font-size: .8rem;
    }
    #logout, #logout i{
        color: white;
        background: indianred;
        padding: 4px 8px;
    }
    .theme_option{
        font-weight: 800;
        font-size: 0.8rem;
    }
    .theme_option, .theme_option i{
        display: flex;
        color: #fff;
        background: var(--secondary-dark);
        padding: 4px 8px;
        border-radius: 25px;
        align-items: center;
    }
}

.fileDropZone{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.65);
    z-index: 100;
    display: none;
    align-items: center;
    justify-content: center;
    backdrop-filter: blur(5px);
    visibility: hidden;
    opacity: 0;
    transition: 100ms;
    &.active{
        display: flex;
        visibility: visible;
        opacity: 1;
    }
    .fileDropZoneContent{
        border: 5px dashed;
        padding: 40px;
        border-radius: 15px;
        justify-content: center;
        >*{
            color: inherit;
        }
    }
}

.themeChooser{
    width: 100vw;
    height: 100vh;
    //background: #a52a2a73;
    display: none;
    visibility: hidden;
    opacity: 0;
    place-content: center;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 80;
    transition: 100ms;
    &.active{
        //make it visible
        visibility: visible;
        opacity: 1;
        display: grid;
    }
}

.themeList{
    display: flex;
    flex-direction: column;
    width: min(85vw, 380px);
    gap: 10px;
    padding: 20px;
    background: var(--msg-get-reply);
    border-radius: 10px;
}

.theme{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.themeIcon{
    width: 50px;
    border-radius: 50%;
}

img{
    user-drag: none;
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.offline{
    position: fixed;
    visibility: hidden;
    opacity: 0;
    width: 250px;
    border-radius: 10px;
    display: flex;
    padding: 5px;
    gap: 5px;
    text-align: center;
    bottom: -20px;
    left: 50%;
    transform: translateX(-50%);
    font-size: .7rem;
    transition: .1s ease-in-out;
    color: #fff;
    flex-direction: row;
    align-content: center;
    align-items: center;
    justify-content: center;
    z-index: 10;
    &.active{
        visibility: visible;
        opacity: 1;
        bottom: 85px;
    }
    i{
        color: white !important;
    }
}

#focus_glass{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(1.5px);
    z-index: 20;
    visibility: hidden;
    opacity: 0;
    &.active{
        visibility: visible;
        opacity: 1;
    }
}

.chatBox{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 100%;
    position: relative;
    height: var(--app-height);
    background: rgba(0,0,0,.6117647059) var(--pattern);
    background-blend-mode: soft-light;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    .navbar{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        position: relative;
        top: 0;
        width: 100%;
        z-index: 15;
        font-size: 0.9rem;
        color: var(--foreground-dark);
        & > div{
            padding: 10px 20px;
        }
        i{
            color: inherit;
            font-size: 0.9rem;
        }
        #currentlyActive{
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            gap: 5px;
        }
    }
    .welcome_wrapper{
        //background: #e1eeff;
        padding: 40vh 0 20vh 0;
        display: grid;
        place-content: center;
    }
    .welcomeText{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        width: max-content;
        padding: 20px;
        gap: 20px;
        background: #0000009c;
        border-radius: 15px;
        .link-copy{
            background: #ffffff1f;
            padding: 5px 24px;
            gap: 10px;
            border-radius: 15px;
        }
        #invite{
            background: var(--secondary-dark);
            color: var(--foreground-light);
            padding: 5px 24px;
            border-radius: 24px;
        }
    }
}

//remove all scrollbars
::-webkit-scrollbar {
    display: none;
}

.chatInput{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;
    .close_area{
        top: 0;
        left: 0;
        bottom: -20px;
        right: 0;
        position: fixed;
        //display: flex;
        visibility: hidden;
        opacity: 0;
        justify-content: center;
        align-items: center;
        z-index: 1;
        transition: 100ms ease-in-out;
        transform: scale(0.5);
        transform-origin: bottom;
        &.active{
            bottom: 0;
            visibility: visible;
            opacity: 1;
            transform: scale(1);
        }
    }
    .attachmentContainer{
        position: absolute;
        bottom: 70px;
        padding: 20px;
        border-radius: 10px;
        display: flex;
        gap: 20px;
        flex-direction: row;
        align-items: flex-start;
        justify-content: center;
        width: max-content;
        visibility: visible;
        opacity: 1;
        background: var(--msg-get-reply);
        z-index: 1;
    }
}

.file_preview{
    display: flex;
    flex-direction: column;
    font-size: 1rem;
    align-items: center;
    justify-content: center;
    .fa-file-lines{
        font-size: 4rem;
    }
}


input[type=file] {
    display: none;
}

#send{
    border: none;
    background: none;
    padding-right: 5px;
}

#previewImage{
    position: fixed;
    bottom: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: #192838;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    z-index: 20;
    visibility: hidden;
    opacity: 0;
    transition: 100ms ease-in-out;
    &.active{
        visibility: visible;
        opacity: 1;
    }
    #selectedImage{
        position: relative;
        height: 90%;
        display: flex;
        justify-content: center;
        align-items: center;
        img{
            position: relative;
            max-height: 100%;
            max-width: 80vw;
        }
    }
    
}
.option{
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    & > div{
        width: 50px;
        height: 50px;
        display: grid;
        place-items: center;
        &:hover{
            cursor: pointer;
        }
    }
}

i[class^=fa-]{
    font-size: 1.2rem;
}

.fa-link, .fa-clone, .fa-location-dot, .fa-reply, .fa-download, .fa-circle-notch{
    color: var(--secondary-dark);
}

.fa-paper-plane, .fa-paperclip, .fa-note-sticky {
    font-size: 1.5rem !important;
    padding: 5px;
    color: var(--secondary-dark);
    cursor: pointer;
}


.upload_image, .upload_file{
    label{
        position: relative;
        padding: 10px;
        min-width: 50px;
        min-height: 50px;
        border-radius: 55px;
        display: grid;
        place-items: center;
        background: var(--secondary-dark);
        cursor: pointer;
    }
}

.location{
    position: relative;
    padding: 10px;
    min-width: 50px;
    min-height: 50px;
    border-radius: 55px;
    display: grid;
    place-items: center;
    background: var(--secondary-dark);
    cursor: pointer;
}


.fa-file-lines, .fa-image, .fa-location-crosshairs{
    color: white;
}

.file_preview .fa-file-lines{
    color: var(--secondary-dark);
}

#typingIndicator{
    padding-left: 10px;
    font-size: 0.8rem;
    height: 20px;
}


#textbox{
    resize: none;
    padding: 10px 23px 10px 23px;
    width: 100%;
    max-height: 100px;
    //remove sidebars
    border: none;
    outline: none;
    border-radius: 25px;
    background: #ffffff17;
    scrollbar-width: none;
    &::placeholder{
        color: #ffffff8a;
    }
}

.footer{
    position: relative;
    .chatInput{
        display: flex;
        justify-content: center;
        align-items: center;
        padding-bottom: 10px;
    }
}

#replyToast{
    display: none;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    margin: 0 10px;
    background: var(--msg-get-reply);
    border-radius: 10px;
    position: relative;
    visibility: hidden;
    opacity: 0;
    transition: 100ms ease-in-out;
    &.active{
        display: flex;
        visibility: visible;
        opacity: 1;
    }
    .title, .title *{
        color: var(--secondary-dark);
    }
    .replyData{
        font-size: 0.7rem;
        .image, .sticker{
            max-height: 50px;
            width: auto;
            padding: 3px;
            border-radius: 5px;
        }
    }
    .close i{
        color: var(--red) !important;
        transition: 100ms ease-in-out;
        &:hover{
            cursor: pointer;
            transform: scale(1.2);
        }
    }
}


.newmessagepopup{
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: -35px;
    left: 50%;
    background: var(--primary-dark);
    padding: 5px 10px;
    border-radius: 25px;
    font-size: .8rem;
    transform: translateX(-50%);
    z-index: 10;
    gap: 5px;
    width: max-content;
    display: none;
    visibility: hidden;
    opacity: 0;
    transition: 100ms ease-in-out;
    cursor: pointer;
    &.active{
        display: flex;
        visibility: visible;
        opacity: 1;
    }
    filter: drop-shadow(2px 4px 6px #000);
    img{
        height: 30px;
        width: 30px;
    }
    .msg{
        font-size: 0.8rem;
    }
}


#lightbox{
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #0d1a24;
    z-index: 100;
    visibility: hidden;
    opacity: 0;
    transition: 100ms ease-in-out;
    align-content: center;
    justify-content: center;
    align-items: center;
    &.active{
        visibility: visible;
        opacity: 1;
    }
    .tool{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 10px;
        position: fixed;
        top: 0;
        width: 100%;
        & > div{
            padding: 10px;
            border-radius: 25px;
            width: 40px;
            height: 40px;
            text-align: center;
            background: var(--focus-dark);
            &:hover{
                cursor: pointer;
                background: #2b3d50bd;
            }
        }
    }
    #lightbox__image{
        max-width: 90%;
        max-height: 90%;
        display: flex;
        align-items: center;
        justify-content: center;
        img{
            width: 100%;
            height: 100%;
        }
    }
}

.fa-xmark{
    color: var(--red) !important;
}

#optionsContainerWrapper{
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    grid-template-rows: 1fr 30%;
    display: none;
    visibility: hidden;
    opacity: 0;
    backdrop-filter: blur(2px) brightness(0.5);
    transition: 100ms ease-in-out;
    z-index: 25;
    &.active{
        visibility: visible;
        opacity: 1;
    }
}

#optionsContainer{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    bottom: 0;
}

.normalOptionWrapper{
    position: relative;
    width: 100%;
    padding: 5px;
    border-radius: 20px 20px 0 0;
    background: var(--msg-get-reply);
    place-content: center;
    display: grid;
}

.reactOptionsWrapper{
    position: relative;
    width: 100%;
    height: 100%;
    padding: 40px 0;
    //background: #5e93cc;
    place-content: center;
    display: grid;
}

.options{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 5px;
    width: max-content;
    align-items: center;
    border-radius: 10px;
    background: var(--msg-get-reply);
    transition: 100ms ease-in-out;
    & > *{
        transition: 100ms ease-in;
    }
    & > :hover{
        cursor: pointer;
        &{
            transform: scale(1.1);
        }
    }
    &:is(#reactOptions){
        gap: 5px;
        font-size: 1.3rem;
        padding: 3px 10px;
        & > div{
            border-radius: 10px;
            padding: 5px;
        }
    }
    &:is(#normalOptions){
        & > div{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 3px;
            padding: 15px;
            span{
                font-size: 0.7rem;
            }
            &:is(.closeOption, .deleteOption) > *{
                color: var(--red) !important;
            }
        }
    }
}


.reactorContainerWrapper{
    height: 100%;
      width: 100%;
      position: fixed;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      display: grid;
      place-content: center;
      z-index: 90;
      visibility: hidden;
      opacity: 0;
      backdrop-filter: blur(2px);
      &.active{
        visibility: visible;
        opacity: 1;
      }
  }

.reactorContainer{
    display: flex;
    flex-direction: column;
    background: var(--msg-get-reply);
    padding: 20px;
    width: 300px;
    height: 220px;
    overflow-y: scroll;
    border-radius: 10px;
    align-items: flex-start;
    justify-content: flex-start;
    z-index: 10;
    backdrop-filter: blur(5px);
    scrollbar-width: none;
    transition: 100ms ease-in-out;
    ul{
        display: flex;
        flex-direction: column;
        list-style-type: none;
        width: 100%;
        li{
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 100%;
            .uname{
                width: 100%;
                padding-left: 8px;
            }
        }
    }
}

.hideSvgSoThatItSupportsFirefox {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

@media (orientation: landscape) and (min-device-aspect-ratio: 1 / 1){
    .chatBox {
        padding: 0 25%;
    }
    #sidebar_wrapper{
        grid-template-columns: 30% 1fr;
    }
    .normalOptionWrapper{
        width: 50%;
    }
    .stickersPanel{
        width: 45%;
    }
}