@font-face {
    font-family: Comic;
    src: url('/fonts/comic-webfont.woff2');
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Comic;
    caret-color: #4598ff;
}

:root{
    --height: 90vh;
}

/* Hide scrollbar for Chrome, Safari and Opera */
*::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
* {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

.offline{
    position: absolute;
    visibility: hidden;
    opacity: 0; 
    width: 100%;
    text-align: center;
    position: fixed;
    top: -20px; 
    font-size: 0.7rem;
    transition: 300ms ease-in-out;
    color: white;
    &.active{
        visibility: visible;
        opacity: 1;
        top: 0;
    }
}

.errLog{
    font-size: 0.7em;
    color: orangered;
    width: 100%;
    word-wrap: break-word;
    padding-top: 10px;
}

img{
    user-drag: none;
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border: 2px solid var(--blue);
  -webkit-text-fill-color: white;
  -webkit-box-shadow: 0 0 0px 1000px transparent inset;
  box-shadow: 0 0 0px 1000px transparent inset;
  transition: background-color 5000s ease-in-out 0s;
}

input[type='number']::-webkit-inner-spin-button{
  -webkit-appearance: none;
}

body{
    background: #111d2a;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: var(--height);
}

.title{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 20px;
}

.form{
    width: 100%;
    height: 100%;
    display: grid;
    place-items: center;
    overflow: hidden;
    padding-top: 40px;
}

.redirect{
    width: 100%;
}

fieldset{
    border-left: 0;
    border-right: 0;
    border-bottom: 0;
    border-top: 2px solid #ffffff17;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 100%;
    legend{
        padding: 5px;
        color: #bababa;
    }
    a{
        color: #4598ff;
    }
}



.subform{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: max-content;
    height: max-content;
    gap: 15px;
    background: #26313d;
    padding: 15px;
    border-radius: 10px;
    min-width: 280px;
    .form-field{
        width: 100%;
    }
    input[type='text'], button{
        width: 100%;
        height: 44px;
        border: none;
        outline: none;
        border-radius: 10px;
        padding: 15px;
        background: #333d48;
        color: white;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    button{
        background: #4598ff;
        color: white;
        cursor: pointer;
    }
}

.avatar-container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.avatars{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 138px !important;
    width: 200px !important;
    align-items: center;
    justify-content: center;
    align-content: flex-start;
    overflow: scroll;
    img{
        width: 40px;
        height: 40px;
        filter: saturate(0);
        &:hover{
        cursor: pointer;
        filter: saturate(100%);
        }
    }
}

input[type="radio"] {
    display: none;
    &:checked + label img{
        filter: saturate(100%);
    }
}

.footer{
    font-size: 0.6em;
    color: rgb(186, 186, 186);
    padding: 10px;
}
.source-code {
    text-align: center;
    width: 100%;
    padding-bottom: 10px;
    position: relative;
    a{
        color: white;
    }
}

.copy{
    cursor: pointer;
    border: 2px dashed !important;
}

#form2{
    transition: 200ms ease-in-out;
    display: none;
    visibility: hidden;
    opacity: 0;
    &.active{
        display: flex;
        visibility: visible;
        opacity: 1;
    }
}

.howtouse{
    .h1{
        font-size: 1em;
        padding: 5px;
        text-align: center;
    }
    width: 100vw;
    padding: 30px;
    padding-bottom: 0;
    text-align: justify;
    font-size: .6em;
    max-width: max-content;
    color: rgb(186, 186, 186);
}

.form-field:is(.range){
    display: flex;
    flex-direction: column;
}

button{
    display: flex;
    gap: 5px;
    align-items: center;
    justify-content: center;
}

#wait {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: #00000080;
    backdrop-filter: blur(5px);
}