* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Comic;
}

:root {
  --msg-get: hsl(213, 40%, 57%);
  --msg-get-reply: hsl(213, 35%, 27%);
  --msg-send: hsl(213, 98%, 57%);
  --msg-send-reply: hsl(213, 88%, 27%);
  --glass: #ffffff17;
}

#messages {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 2px;
  overflow-y: scroll;
  overflow-x: hidden;
  color: var(--foreground-dark);
  scroll-behavior: smooth;
  scrollbar-width: none;
  list-style: none;
  z-index: 1;
}
#messages:has(.focused) .msg-item {
  filter: brightness(0.7);
  transition: 150ms ease-in-out;
}
#messages .msg-item.focused {
  filter: brightness(1) !important;
}
#messages .msg-item.focused .msg {
  border-color: rgba(255, 255, 255, 0.5607843137);
}

a {
  color: inherit;
}

code {
  font-family: monospace;
}

.message {
  display: flex;
  flex-direction: row-reverse;
  align-items: flex-end;
  position: relative;
  padding: 0 18px 0 5px;
}
.message .messageContainer {
  display: flex;
  flex-direction: row;
  list-style: none;
  align-items: flex-end;
  gap: 3px;
  font-size: 0.8rem;
  width: 100%;
  position: relative;
}
.message .sent {
  display: none;
}
.message .sent i {
  font-size: 0.5rem !important;
  padding: 0;
  color: var(--foreground-dark);
}
.message .avatar {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background: rgba(218, 218, 218, 0);
  visibility: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}
.message .messageBody {
  position: relative;
  background: rgba(0, 0, 0, 0);
  max-width: 100%;
  display: flex;
  flex-direction: column;
  overflow-wrap: anywhere;
}
.message .messageBody .messageTitle {
  color: var(--secondary-dark);
  transform: translateY(20px);
  padding: 3px;
  display: flex;
  flex-direction: row;
  align-items: baseline;
  gap: 5px;
}
.message .messageBody .messageReply {
  background: var(--msg-get-reply);
  color: hsla(0, 0%, 100%, 0.5);
  border-radius: 18px 18px 18px 8px;
  width: max-content;
  max-width: 250px;
  white-space: pre;
  overflow: hidden;
  display: inline-block;
  text-overflow: ellipsis;
  transform: translateY(20px);
  cursor: pointer;
  z-index: 10;
  padding: 8px 8px 25px 8px;
}
.message .messageBody .messageReply i {
  padding: 2px 0 0 0;
  color: rgba(255, 255, 255, 0.3764705882);
  font-size: 1rem !important;
}
.message .messageBody .messageReply.imageReply {
  padding: 0;
  filter: brightness(0.4) !important;
  background: rgba(255, 255, 255, 0.0901960784) !important;
  position: relative;
  max-height: 150px;
  max-width: 150px;
  min-width: 100px;
  min-height: 100px;
  object-fit: cover;
  vertical-align: bottom;
  border-radius: 18px 18px 18px 8px !important;
}
.message .messageBody .messageReply.imageReply img {
  max-width: inherit;
  max-height: inherit;
  min-height: inherit;
  min-width: inherit;
  object-fit: inherit;
  border-radius: inherit;
}

.react {
  position: relative;
}

.react-popup {
  position: absolute;
  top: 0;
  left: 0;
  transform-origin: bottom;
}
.react-popup.active {
  animation: popup 500ms alternate 2;
}

@keyframes popup {
  0% {
    transform: scale(1) translateY(0px);
    opacity: 0;
  }
  100% {
    transform: scale(1.6) translateY(-10px);
    opacity: 1;
  }
}
.newGroup:not(.sticker, .emoji) {
  margin-top: 10px;
}

.seenByMultiple {
  margin-bottom: 12px;
}
.seenByMultiple .seenBy {
  bottom: -14px;
}

.seenBy {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1px;
  position: absolute;
  max-width: 70px;
  right: 2px;
  z-index: 10;
}
.seenBy img {
  height: 12px;
  width: 12px;
  margin: 1px;
}

.msg-item.serverMessage .seenBy {
  right: 10px;
  flex-wrap: nowrap;
  max-width: unset;
}

.serverMessage + .message {
  margin-top: 25px;
}

.message.noreply .messageReply {
  display: none !important;
}
.message.noreply .messageTitle {
  transform: none !important;
}

.message:not(.noreply) .messageTitle::before {
  content: "\f3e5";
  font-family: "FontAwesome";
  font-size: 1rem;
}

.messageReply[data-replyfor=audio]::before {
  content: "\f001";
  font-size: 1rem;
  font-family: "FontAwesome";
  padding: 2px;
}

.messageReply[data-replyfor=file]::before {
  content: "\f0c6";
  font-size: 1rem;
  font-family: "FontAwesome";
  padding: 2px;
}

.messageMain {
  display: flex;
  color: white;
  position: relative;
  flex-direction: row;
}
.messageMain:hover {
  cursor: pointer;
}
.messageMain .msg {
  transition: 100ms ease-in-out;
}
.messageMain .text {
  background: var(--msg-get);
  padding: 8px;
  min-width: 32px;
  max-width: 75%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  white-space: pre-wrap;
  display: inline-block;
}
.messageMain img {
  height: 100%;
  max-width: 100%;
  min-height: 100px;
  min-width: 100px;
  background: rgba(255, 255, 255, 0.0901960784);
}
.messageMain > * {
  border-radius: 5px 18px 18px 5px;
  z-index: 10;
}

code {
  font-family: monospace;
  background: rgba(40, 44, 52, 0.9294117647);
  border-radius: 3px;
  pointer-events: none;
}
code * {
  font-family: monospace !important;
}

pre {
  padding-top: 10px;
  white-space: pre-wrap;
  background: rgba(40, 44, 52, 0.9294117647);
  border-radius: 5px;
  padding: 5px;
  position: relative;
  padding-top: 25px;
  tab-size: 2;
}
pre::after {
  position: absolute;
  content: attr(data-clip);
  top: 0;
  right: 0;
  width: max-content;
  height: max-content;
  padding: 3px 4px;
  background: rgba(255, 255, 255, 0.168627451);
  border-radius: 4px;
  font-size: 0.6rem;
  margin: 2px;
  transition: 100ms;
}
pre::before {
  position: absolute;
  content: attr(data-lang);
  top: 0;
  left: 0;
  width: max-content;
  height: max-content;
  padding: 3px 4px;
  border-radius: 4px;
  font-size: 0.6rem;
  margin: 2px;
  transition: 100ms;
  color: rgba(255, 255, 255, 0.5098039216);
}
pre code {
  background: transparent;
}

.messageTime {
  color: gray;
  font-size: 0.6rem;
  padding: 0 0 0 25px;
  visibility: hidden;
  opacity: 0;
  transition: 200ms ease-in-out;
  white-space: nowrap;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
  width: 58px;
  min-width: 58px;
}
.messageTime.active {
  visibility: visible;
  opacity: 1;
}

.self .messageTime {
  justify-content: flex-end;
  padding: 0 25px 0 0;
}

.message:last-child .messageTime {
  visibility: visible;
  opacity: 1;
}

.message.react .messageContainer {
  margin-bottom: 10px;
}

.message.react .reactsOfMessage {
  display: flex;
}

.reactsOfMessage {
  position: absolute;
  bottom: -10px;
  z-index: 15;
  flex-direction: row;
  background: var(--msg-send-reply);
  border-radius: 10px;
  max-height: 18px;
  display: none;
  width: max-content;
  transition: 100ms ease-in-out;
}
.reactsOfMessage .reactsCount {
  display: none;
}
.reactsOfMessage.pad {
  padding: 0 5px;
}
.reactsOfMessage.pad .reactsCount {
  display: block;
}
.reactsOfMessage .reactsContainer {
  pointer-events: none;
}
.reactsOfMessage .reactsContainer .react:not(:nth-last-child(-n+3)) {
  display: none;
}
.reactsOfMessage:hover {
  cursor: pointer;
}

.message.start .messageMain > * {
  border-bottom-left-radius: 5px;
  border-top-left-radius: 18px;
}
.message.start .messageTitle {
  display: flex;
}

.message.end .messageMain > * {
  border-bottom-left-radius: 18px;
}
.message.end .avatar {
  visibility: visible;
}

.message.notitle {
  padding-top: 0;
}
.message.notitle .messageTitle {
  display: none !important;
}

.messageMain img.sticker {
  background: rgba(255, 255, 255, 0.0901960784) !important;
}

.message.sticker {
  margin-top: 5px;
  margin-bottom: 5px;
}
.message.sticker + .message.sticker {
  margin-top: 0;
}

.message.self .messageContainer {
  flex-direction: row-reverse;
}
.message.self .sent {
  display: block;
}
.message.self.delevered .sent {
  display: none;
}
.message.self .avatar {
  display: none;
}
.message.self .replyIcon {
  right: 0;
  left: unset;
  transform: translateX(50px);
}
.message.self.noreply .messageTitle {
  display: none;
}
.message.self .messageBody {
  align-items: flex-end;
}
.message.self .messageBody .messageReply {
  background: var(--msg-send-reply);
  border-radius: 18px 18px 8px 18px;
}
.message.self .messageBody .messageReply .image {
  border-radius: 18px 18px 8px 18px;
}
.message.self .messageBody .messageReply.imageReply {
  border-radius: 18px 18px 8px 18px !important;
}
.message.self .messageBody .messageMain {
  flex-direction: row-reverse;
}
.message.self .messageBody .messageMain .text {
  padding: 8px;
  background: var(--msg-send);
}
.message.self .messageBody .messageMain .audioMessage {
  background: var(--msg-send);
}
.message.self .messageBody .messageMain .audioMessage .time {
  color: var(--msg-send);
}
.message.self .messageBody .messageMain .file {
  background: var(--msg-send);
}
.message.self .messageBody .messageMain > * {
  border-radius: 18px 5px 5px 18px;
}
.message.self.start .messageMain > * {
  border-bottom-right-radius: 5px;
  border-top-right-radius: 18px;
}
.message.self.start .messageTitle {
  display: flex;
}
.message.self.end .messageMain > * {
  border-bottom-right-radius: 18px;
}
.message.self.end .avatar {
  visibility: visible;
}

[data-reply-trigger=true] .replyIcon {
  background: var(--msg-get);
}

.self [data-reply-trigger=true] .replyIcon {
  background: var(--msg-send);
}

.messageMain .imageContainer {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  max-width: 75%;
}
.messageMain .imageContainer.msg:hover::before {
  content: "";
  width: 100%;
  height: 100%;
  background: rgba(124, 124, 124, 0.1215686275);
  position: absolute;
  border-radius: inherit;
}
.messageMain .imageContainer .image {
  object-fit: contain;
  border-radius: inherit;
  pointer-events: none;
}
.messageMain .imageContainer .circleProgressLoader {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  transform: translate(-50%, -50%);
  width: max-content;
  color: white;
  font-size: 0.8rem;
  display: grid;
  place-items: center;
  z-index: 12;
}
.messageMain .imageContainer .circleProgressLoader .animated {
  width: 20%;
}
.messageMain .imageContainer .circleProgressLoader .animated.inactive {
  visibility: hidden;
}
.messageMain .imageContainer .circleProgressLoader .progressPercent {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  white-space: break-spaces;
  text-align: center;
}

.emoji .messageMain .text {
  background: none !important;
  font-size: 30px !important;
  padding: 0 !important;
}

.file {
  padding: 5px;
  display: grid;
  grid-template-columns: 0.1fr 0.9fr;
  gap: 5px;
  align-items: center;
  background: var(--msg-get);
  justify-content: center;
  min-width: 125px;
  max-width: 55vw;
}
.file .fa-file-lines {
  color: currentColor;
}

.fileIcon {
  height: 35px;
  width: 35px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.2196078431);
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-direction: column;
  pointer-events: none;
}

.fileInfo {
  display: flex;
  flex-direction: column;
  font-size: 0.7rem;
  gap: 5px;
  padding: 0 5px 0 0;
  align-items: flex-end;
  pointer-events: none;
}
.fileInfo .fileName, .fileInfo .fileSize {
  display: grid;
  place-items: center;
}
.fileInfo .fileName {
  text-decoration: underline;
  padding-left: 3px;
  white-space: nowrap;
  position: relative;
  max-width: 35vw;
  overflow: hidden;
  text-overflow: ellipsis;
  display: inline-block;
}
.fileInfo .filemeta {
  font-size: 0.5rem;
  display: flex;
  padding: 3px;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
}

.audioMessage {
  height: 34px;
  min-width: 200px;
  max-width: 230px;
  background-color: var(--msg-get);
  border-radius: 18px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  position: relative;
  isolation: isolate;
  overflow: hidden;
  cursor: pointer;
}
.audioMessage::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: var(--audioMessageProgress, 0%);
  height: 100%;
  background: rgba(0, 0, 0, 0.1490196078);
  z-index: -1;
}
.audioMessage .main-element {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  width: 100%;
  padding: 0 10px;
  color: white;
}
.audioMessage .main-element .controls {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  /*background: #1b84ca;*/
  /* if .controls has the fa-play element then style the .stop class */
}
.audioMessage .main-element .controls .control {
  width: 30px;
  aspect-ratio: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 150ms ease-in-out;
}
.audioMessage .main-element .controls .control i {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.audioMessage .main-element .controls .stop {
  visibility: visible;
  opacity: 1;
  transform: scale(1);
  transition: 150ms ease-in-out;
}
.audioMessage .main-element .controls:has(.fa-play) .stop {
  visibility: hidden;
  opacity: 0;
  transform: scale(0);
}
.audioMessage .main-element .time {
  background: white;
  color: var(--msg-get);
  border-radius: 10px;
  padding: 2px 5px;
  font-size: 0.7rem;
  pointer-events: none;
  min-width: 45px;
  width: max-content;
  display: flex;
  align-items: center;
  justify-content: center;
}
.audioMessage .progress {
  font-size: 0.6rem;
  pointer-events: none;
}

#showMoreReactBtn i {
  pointer-events: none;
}

.deleted .messageTitle {
  transform: none !important;
}
.deleted .messageReply {
  display: none !important;
}
.deleted .text {
  background: var(--glass) !important;
  color: #7d858c !important;
  font-style: italic !important;
  cursor: not-allowed;
}

.replyIcon {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-direction: column;
  background: var(--glass);
  border-radius: 50%;
  position: absolute;
  left: 0;
  transform: translateX(-40px);
  visibility: hidden;
  opacity: 0;
}
.replyIcon i {
  font-size: 1.2rem;
  padding: 5px;
  color: rgba(255, 255, 255, 0.5411764706);
}

a:hover {
  filter: brightness(0.95);
}

a::after {
  font-family: "FontAwesome";
  padding: 0 2px;
}

a::after {
  content: "\f08e";
}

.messageContainer[data-swipestarted=true] .replyIcon {
  visibility: visible;
  opacity: 1;
}

.serverMessage {
  font-size: 0.7rem;
  text-align: center;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: center;
  margin-top: 18px;
}
.serverMessage + .serverMessage {
  margin-top: 0;
}