@font-face {
    font-family: Comic;
    src: url('/fonts/comic-webfont.woff2');
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Comic;
}

:root{
    //--loadedImage: '0%';
    --msg-get: hsl(213, 40%, 57%);
    --msg-get-reply: hsl(213, 35%, 27%);
    --msg-send: hsl(213, 98%, 57%);
    --msg-send-reply: hsl(213, 88%, 27%);
}

#messages{
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 5px;
    gap: 2px;
    overflow-y: scroll;
    color: var(--foreground-dark);
    scroll-behavior: smooth;
    scrollbar-width: none;
    list-style: none;
    z-index: 1;
}

a{
    color: inherit;
}

code{
    font-family: monospace;
}


.message{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    .seenBy{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 1px;
        img{
            padding-top: 1px;
            height: 10px;
            width: 10px;
        }
        display: flex;
        justify-content: center;
        align-items: center;
        align-content: center;
    }
    .messageContainer{
        display: flex;
        flex-direction: row;
        list-style: none;
        align-items: flex-end;
        gap: 3px;
        font-size: 0.8rem;
        width: 100%;
        position: relative;
    }

    .sent{
        display: none;
        i{
            font-size: 0.5rem;
            padding: 0;
            color: var(--foreground-dark);
        }
    }
    .avatar{
        height: 30px;
        width: 30px;
        border-radius: 50%;
        background: #dadada00;
        visibility: hidden;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .messageBody{
        position: relative;
        background: #00000000;
        max-width: 55%;
        display: flex;
        flex-direction: column;
        overflow-wrap: anywhere;
        .messageTitle{
            color: var(--secondary-dark);
            transform: translateY(20px);
            padding: 3px;
            display: block;
        }
        .messageReply{
            background: var(--msg-get-reply);
            border-radius: 15px 15px 15px 8px;
            width: max-content;
            max-width: 110%;
            transform: translateY(20px);
            cursor: pointer;
            z-index: 10;
            padding: 8px 8px 25px 8px;
            &.imageReply{
                padding: 0;
            }
            .imageReply{
                filter: brightness(0.5) !important;
                position: relative;
                max-height: 150px;
                max-width: 150px;
                min-width: 100px;
                min-height: 100px;
                object-fit: cover;
                vertical-align: bottom;
                border-radius: 15px 15px 15px 8px;
            }
        }
        .reactsOfMessage{
            position: absolute;
            bottom: -12px;
            z-index: 15;
            flex-direction: row;
            gap: 5px;
            background: var(--msg-get-reply);
            border-radius: 10px;
            padding: 0 5px;
            z-index: 15;
            display: none;
            width: max-content;
            &:hover{
                cursor: pointer;
            }
        }
    }
}

.messageReply:is(.imageReply){
    background: transparent !important;
}

.message:is(.noreply){
    .messageReply{
        display: none !important;
    }
    .messageTitle{
        transform: none !important;
    }
}

.messageMain{
    display: flex;
    color: white;
    position: relative;
    &:hover{
        cursor: pointer;
    }
    p{
        background: var(--msg-get);
        padding: 8px;
        min-width: 32px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
    }
    img{
        //width: 100%;
        height: 100%;
        max-width: 100%;
        min-height: 100px;
        min-width: 100px;
        background: var(--msg-get);
        &.sticker{
            background: none;
        }
    }
    & > *{
        border-radius: 3px 15px 15px 3px;
        z-index: 10;
    }
}

.messageTime{
    color: gray;
    font-size: 0.6rem;
    padding: 0 15px;
    visibility: hidden;
    opacity: 0;
    transition: 200ms ease-in-out;
    &.active{
        visibility: visible;
        opacity: 1;
    }
}

.message:last-child .messageTime{
    visibility: visible;
    opacity: 1;
}

.message:is(.react){
    &{
        margin-bottom: 12px;
    }
    .reactsOfMessage{
        display: flex;
    }
}

.message:is(.notitle){
    .messageTitle{
        display: none!important;
    }
}

.message:is(.start){
    .messageMain{
        & > *{
            border-bottom-left-radius: 3px;
            border-top-left-radius: 15px;
        }
    }
    .messageTitle{
        display: block;
    }
}
.message:is(.end){
    .messageMain{
        & > *{
            border-bottom-left-radius: 15px;
        }
    }
    .avatar{
        visibility: visible;
    }
}

.message:is(.self){
    flex-direction: column;
    .messageContainer{
        flex-direction: row-reverse;
    }
    .sent{
        display: block;
    }
    &:is(.delevered){
        .sent{
            display: none;
        }
    }
    .avatar{
        display: none;
    }
    &:is(.noreply){
        .messageTitle{
            display: none;
        }
    }
    .messageBody{
        align-items: flex-end;
        .messageReply{
            background: var(--msg-send-reply);
            border-radius: 15px 15px 8px 15px;
            .image{
                border-radius: 15px 15px 8px 15px;
            }
        }
        .messageMain{
            p{
                padding: 8px;
                background: var(--msg-send);
            }
            .file{
                background: var(--msg-send)
            }
            & > *{
                border-radius: 15px 3px 3px 15px;
            }
            img{
                background: var(--msg-send);
            }
        }
    }
    &:is(.start){
        .messageMain{
            & > *{
                border-bottom-right-radius: 3px;
                border-top-right-radius: 15px;
            }
        }
        .messageTitle{
            display: block;
        }
    }
    &:is(.end){
        .messageMain{
            & > *{
                border-bottom-right-radius: 15px;
            }
        }
        .avatar{
            visibility: visible;
        }
    }
}

.messageMain{
        .sendingImage{
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: max-content;
            color: white;
            font-size: 0.8rem;
            display: grid;
            place-items: center;
            z-index: 12;
        }
}

.emoji .messageMain p:is(.text){
    background: none !important; 
    font-size:30px !important; 
    padding: 0 !important;
}

.file{
    padding: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    background: var(--msg-get);
    .fa-file-lines{
        color: currentColor;
    }
}

.fileInfo{
    display: flex;
    flex-direction: column;
    
    font-size: 0.7rem;
    gap: 5px;
    .fileName, .fileSize{
        display: grid;
        place-items: center;
    }
    .fileName{
        text-decoration: underline;
        padding-left: 3px;
    }
    .filemeta{
        font-size: .5rem;
        display: flex;
        padding: 3px;
        flex-direction: row;
        justify-content: space-between;
    }
}

.deleted{
    .messageTitle{
        transform: none !important;
    }
    .messageReply{
        display: none !important;
    }
    p{
        background: none !important;
        border: 2px solid #7d858c !important;
        color: #7d858c !important;
        height: 34px !important;
        cursor: not-allowed;
    }
}

.serverMessage{
    font-size: 0.7rem;
    text-align: center;
    width: 100%;
}